<a href="https://colab.research.google.com/github/sohyeon1202/ai_python/blob/main/240412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list = 파이썬의 내장자료 구조. 서로 다른 유형의 데이터 포함 가능
array = Numpy패키지에서 제공. 동일한 유형의 데이터만 포함 가능

함수와 메소드의 차이점
함수 : 독립적으로 정의됨
메소드 : 특정한 클래스 또는 객체에 속해있음(=종속됨)
사용법에서 차이가 남
함수는 호출할 때 함수의 이름을 사용하여 호출.
매개변수 = 인자
1. 내장함수 = 라이브러리
2. 사용자정의함수
메소드 : 해당하는 객체 또는 클래스의 인스턴스에 대해 호출. 객체의 이름 뒤에 점('.')을 사용하여 호출됨.
리스트로 하나의 객체로 봄
range 도 함수! 기본형태 = range(시작, 끝, 간격)

: = 슬라이싱.
리스트는 중복 가능함.

반환값 : 함수가 작업을 수행한 후 결과를 반환할 수 있다.
예 : def add(a,b):
          result = a + b
          return result

def square(X):
  return X**2
이거나

def square(X):
  result = X**2
  return result
이거랑 같음

In [17]:
fruits = ["banana", "apple", "orange", " cherry"]
print(fruits[1])

apple

In [16]:
numbers = [10, 20, 30, 40, 50]
print(numbers[4])

50

In [15]:
fruits = ["apple", "banana", " cherry"]
fruits.pop(1)
fruits.insert(1, "grape")
print(fruits)

['apple', 'grape', ' cherry']

In [13]:
fruits = ["apple", "banana", "cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

In [8]:
numbers = [10, 20, 30, 40, 50]
numbers.pop(2)

30

In [7]:
numbers = [5,10,15,20,25]
print(len(numbers))

5

In [6]:
numbers = [10,5,8,3,15]
print(min(numbers))
print(max(numbers))

3
15

In [5]:
numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [19]:
numbers = [1,2,3,4,5]
newlist = []
for num in numbers:
  newlist.append(num**2)
print(newlist)

[1, 4, 9, 16, 25]

In [31]:
numbers = [1,2,3,4,5]
newlist = []

def s(numbers):
  return numbers**2
a = s(numbers)
print(a)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [32]:
numbers = [1, 2, 3, 4, 5]
newlist = []

def s(numbers):
    for num in numbers:
        newlist.append(num ** 2)

s(numbers)
print(newlist)

[1, 4, 9, 16, 25]

In [25]:
def square_elements(input_list):
    squared_list = [x**2 for x in input_list]
    return squared_list

numbers = [1, 2, 3, 4, 5]
result = square_elements(numbers)
print(result)

[1, 4, 9, 16, 25]

In [30]:
numbers = [1, 2, 3, 4, 5]
def square(numbers):
  newlist=[]
  for num in numbers:
    newlist.append(num**2)
  return newlist

s = square(numbers)
print(s)

[1, 4, 9, 16, 25]

In [4]:
fruits = ["apple", "banana", "apple", "orange", " cherry"]
print(fruits.count("apple"))

2

In [20]:
def square(X):
  return X**2
ret = square(5)
print(ret)

25

In [37]:
h = int(input("키를 입력하세요."))
w = int(input("몸무게를 입력하세요."))

def BMI(h,w):
  H = h/100
  a = w/H**2
  return a

print(BMI(h,w))

키를 입력하세요.190
몸무게를 입력하세요.90
24.930747922437675